@import url("variables.css");

/* Para Tablets */
@media (max-width: 1024px) and (min-width: 768px) {
    .app__section-banner-container {
        width: 48rem;
    }
}

/* Para Celulares */
@media (max-width: 767px) {
    .app__section-banner-container {
        width: 32rem;
    }

    .app__title {
        font-size: 2.6rem;
    }

    .app__card-timer {
        font-size: 6rem;
    }

    .app__section-active-task {
        gap: 2rem;
    }

    /* fim - dropdown */
}

.hidden {
    display: none;
}